In [43]:
import pandas as pd
import json
with open('data/expatistan/expatistan.json') as f:
    expatistan = json.load(f)

expatistan = pd.json_normalize(data)
expatistan.columns = ['city', 'beer_supermarket', 'cappuccino', 'beer_pub']
expatistan['beer_supermarket'] = expatistan['beer_supermarket'].astype(float)
expatistan['cappuccino'] = expatistan['cappuccino'].astype(float)
expatistan['beer_pub'] = expatistan['beer_pub'].astype(float)
expatistan.set_index('city')

                  beer_supermarket  cappuccino  beer_pub
city
Kabul                         2.61        2.81      5.79
Tirana                        1.07        1.56      3.58
Algiers                       0.88        2.28      2.10
Buenos Aires                  0.95        2.07      1.91
San Juan                      0.68        1.78      1.07
...                            ...         ...       ...
Da Nang                       0.54        1.75      1.19
Hanoi                         0.73        2.07      1.18
Ho Chi Minh City              0.96        2.83      1.23
Lusaka                        1.03        1.39      0.66
Harare                        1.15        4.11      2.27

[423 rows x 3 columns]

In [44]:
expatistan.max()

city                Zurich
beer_supermarket      5.73
cappuccino               7
beer_pub                14
dtype: object

In [38]:
expatistan.describe()

       beer_supermarket  cappuccino    beer_pub
count        414.000000  415.000000  412.000000
mean           1.751304    3.209711    4.099515
std            0.951966    1.275186    2.292285
min            0.160000    0.060000    0.040000
25%            1.032500    2.070000    2.127500
50%            1.550000    3.290000    3.905000
75%            2.287500    4.030000    5.772500
max            5.730000    7.000000   14.000000

In [41]:
cities = pd.read_csv('data/city-data/world-cities-data.csv')
cities.set_index('city_ascii')

,country,region,latitude,longitude,population,iso2,iso3,admin_name,city
city_ascii,,,,,,,,,
Kabul,Afghanistan,Asia & Pacific,34.5328,69.1658,3678034.0,AF,AFG,Kābul,Kabul
Kandahar,Afghanistan,Asia & Pacific,31.6078,65.7053,491500.0,AF,AFG,Kandahār,Kandahār
Herat,Afghanistan,Asia & Pacific,34.3738,62.1792,436300.0,AF,AFG,Herāt,Herāt
Mazar-e Sharif,Afghanistan,Asia & Pacific,36.7000,67.1167,427600.0,AF,AFG,Balkh,Mazār-e Sharīf
Kunduz,Afghanistan,Asia & Pacific,36.7280,68.8725,259809.0,AF,AFG,Kunduz,Kunduz
...,...,...,...,...,...,...,...,...,...
Ruwa,Zimbabwe,Africa,-17.8897,31.2447,22038.0,ZW,ZWE,Mashonaland East,Ruwa
Shamva,Zimbabwe,Africa,-17.3196,31.5700,10317.0,ZW,ZWE,Mashonaland Central,Shamva
Chivhu,Zimbabwe,Africa,-19.0211,30.8922,10263.0,ZW,ZWE,Mashonaland East,Chivhu
Plumtree,Zimbabwe,Africa,-20.4869,27.8042,2148.0,ZW,ZWE,Matabeleland South,Plumtree
Mazoe,Zimbabwe,Africa,-17.5196,30.9700,9966.0,ZW,ZWE,Mashonaland Central,Mazoe

In [42]:
# TODO: not sure how to merge city data into expatistan df correctly? 
new_df = pd.merge(expatistan, cities, how='left', on=['city', 'city_ascii'])
new_df

KeyError: 'city_ascii'