In [7]:
import pandas as pd
import json
with open('data/expatistan/expatistan-data.json') as f:
    data = json.load(f)

expatistan = pd.json_normalize(data)
expatistan.columns = ['city_ascii', 'country', 'beer_supermarket', 'bread', 'cappuccino', 'beer_pub']
expatistan['data_source'] = 'expatistan'
expatistan.set_index('city_ascii')

,country,beer_supermarket,bread,cappuccino,beer_pub,data_source
city_ascii,,,,,,
Kabul,Afghanistan,2.62,0.50,2.81,5.80,expatistan
Tirana,Albania,1.07,0.78,1.56,3.58,expatistan
Algiers,Algeria,0.89,0.23,2.29,2.10,expatistan
St. John's,Canada,2.14,1.93,5.14,2.83,expatistan
Buenos Aires,Argentina,0.95,0.49,2.09,1.90,expatistan
...,...,...,...,...,...,...
Da Nang,Vietnam,0.54,0.86,1.75,1.19,expatistan
Hanoi,Vietnam,0.73,0.45,2.07,1.18,expatistan
Ho Chi Minh City,Vietnam,0.96,0.86,2.83,1.23,expatistan
Lusaka,Zambia,1.02,0.69,1.38,0.66,expatistan
Harare,Zimbabwe,1.15,0.80,4.11,2.27,expatistan

In [8]:
expatistan.describe()

       beer_supermarket       bread  cappuccino    beer_pub
count        516.000000  521.000000  518.000000  514.000000
mean           2.017810    1.259386    3.549556    4.329436
std            1.127626    0.752828    1.433199    2.164520
min            0.160000    0.120000    0.060000    0.040000
25%            1.130000    0.620000    2.240000    2.320000
50%            1.805000    1.190000    3.670000    4.365000
75%            2.620000    1.710000    4.567500    5.777500
max           10.000000    7.000000   15.000000   14.000000

In [9]:
cities = pd.read_csv('data/city-data/world-cities-data.csv')
cities.set_index('city_ascii')

,country,region,latitude,longitude,population,iso2,iso3,admin_name,city
city_ascii,,,,,,,,,
Kabul,Afghanistan,Asia & Pacific,34.5328,69.1658,3678034.0,AF,AFG,Kābul,Kabul
Kandahar,Afghanistan,Asia & Pacific,31.6078,65.7053,491500.0,AF,AFG,Kandahār,Kandahār
Herat,Afghanistan,Asia & Pacific,34.3738,62.1792,436300.0,AF,AFG,Herāt,Herāt
Mazar-e Sharif,Afghanistan,Asia & Pacific,36.7000,67.1167,427600.0,AF,AFG,Balkh,Mazār-e Sharīf
Kunduz,Afghanistan,Asia & Pacific,36.7280,68.8725,259809.0,AF,AFG,Kunduz,Kunduz
...,...,...,...,...,...,...,...,...,...
Ruwa,Zimbabwe,Africa,-17.8897,31.2447,22038.0,ZW,ZWE,Mashonaland East,Ruwa
Shamva,Zimbabwe,Africa,-17.3196,31.5700,10317.0,ZW,ZWE,Mashonaland Central,Shamva
Chivhu,Zimbabwe,Africa,-19.0211,30.8922,10263.0,ZW,ZWE,Mashonaland East,Chivhu
Plumtree,Zimbabwe,Africa,-20.4869,27.8042,2148.0,ZW,ZWE,Matabeleland South,Plumtree
Mazoe,Zimbabwe,Africa,-17.5196,30.9700,9966.0,ZW,ZWE,Mashonaland Central,Mazoe

In [10]:
# adding city data - guessing we won't need this df if we're merging all data sources together?
new_df = pd.merge(expatistan, cities[['city_ascii', 'country', 'region', 'latitude', 'longitude', 'population']], how='left', on=['city_ascii', 'country'])
new_df

,city_ascii,country,beer_supermarket,bread,cappuccino,beer_pub,data_source,region,latitude,longitude,population
0,Kabul,Afghanistan,2.62,0.50,2.81,5.80,expatistan,Asia & Pacific,34.5328,69.1658,3678034.0
1,Tirana,Albania,1.07,0.78,1.56,3.58,expatistan,Europe,41.3300,19.8200,418495.0
2,Algiers,Algeria,0.89,0.23,2.29,2.10,expatistan,Arab States,36.7764,3.0586,3415811.0
3,St. John's,Canada,2.14,1.93,5.14,2.83,expatistan,North America,47.4817,-52.7971,108860.0
4,Buenos Aires,Argentina,0.95,0.49,2.09,1.90,expatistan,South/Latin America,-34.5997,-58.3819,16157000.0
...,...,...,...,...,...,...,...,...,...,...,...
619,Da Nang,Vietnam,0.54,0.86,1.75,1.19,expatistan,Asia & Pacific,16.0748,108.2240,NaN
620,Hanoi,Vietnam,0.73,0.45,2.07,1.18,expatistan,Asia & Pacific,21.0245,105.8412,7785000.0
621,Ho Chi Minh City,Vietnam,0.96,0.86,2.83,1.23,expatistan,Asia & Pacific,10.8167,106.6333,13312000.0
622,Lusaka,Zambia,1.02,0.69,1.38,0.66,expatistan,Africa,-15.4167,28.2833,1742979.0
623,Harare,Zimbabwe,1.15,0.80,4.11,2.27,expatistan,Africa,-17.8292,31.0522,1606000.0

In [11]:
new_df.describe()

,beer_supermarket,bread,cappuccino,beer_pub,latitude,longitude,population
count,618.000000,623.000000,620.000000,616.000000,594.000000,594.000000,5.930000e+02
mean,2.120922,1.350947,3.693274,4.456688,33.488255,-16.376148,1.982497e+06
std,1.101771,0.761707,1.411257,2.039261,21.529340,73.377487,4.260082e+06
min,0.160000,0.120000,0.060000,0.040000,-45.866700,-157.846000,6.600000e+01
25%,1.230000,0.690000,2.360000,2.710000,29.633450,-84.282600,1.603550e+05
50%,2.070000,1.340000,3.850000,4.695000,39.780350,-1.488650,5.811300e+05
75%,2.750000,1.835000,4.780000,5.762500,46.191675,27.538025,1.662691e+06
max,10.000000,7.000000,15.000000,14.000000,65.014200,178.433300,3.797700e+07

In [12]:
new_df.columns

Index(['city_ascii', 'country', 'beer_supermarket', 'bread', 'cappuccino',
       'beer_pub', 'data_source', 'region', 'latitude', 'longitude',
       'population'],
      dtype='object')