In [9]:
import pandas as pd
import json
with open('expatistan-data.json') as f:
    data = json.load(f)

expatistan = pd.json_normalize(data)
expatistan.columns = ['city_ascii', 'country', 'beer_market', 'bread', 'coffee', 'beer_pub']
# expatistan.set_index('city_ascii')

In [10]:
expatistan.tail(25)

           city_ascii       country  beer_market  bread  coffee  beer_pub
535          Asuncion      Paraguay         0.82   0.32    3.15      1.22
536         Dumaguete  Phillippines         1.01   0.88    2.54      1.26
537              Cebu  Phillippines         1.20   1.16    3.06      1.63
538            Gdansk        Poland         0.86   0.62    3.11      2.53
539           Wroclaw        Poland         0.88   0.65    2.80      2.39
540           Rzeszow        Poland         0.80   0.62    2.27      1.77
541         Bialystok        Poland         0.75   0.66    1.91      1.88
542            Krakow        Poland         0.95   0.61    2.83      2.78
543             Porto      Portugal         1.13   0.89    2.90      2.59
544         Constanta       Romania         0.86   0.46    2.42      1.87
545          Ploiesti       Romania         0.71   0.39    2.15      1.64
546  Nizhniy Novgorod        Russia         0.92   0.44    2.10      2.25
547             Kazan        Russia         0.70   0.36    2.28      2.10
548            Tyumen        Russia         0.64   0.26    1.59      2.41
549    Rostov-na-donu        Russia         1.14   0.30    1.84      2.05
550  Saint Petersburg        Russia         0.87   0.54    2.22      2.91
551         Ad Dammam  Saudi Arabia          NaN   0.87    3.77       NaN
552               Nis        Serbia         0.77   0.43    1.37      1.71
553         Kaohsiung        Taiwan         1.51   1.07    2.15      3.58
554             Izmir        Turkey         1.64   0.30    2.12      2.81
555   Ivano-Frankivsk       Ukraine         0.59   0.24    0.80      1.02
556          Mykolaiv       Ukraine         0.57   0.36    0.96      0.95
557              Kyiv       Ukraine         0.83   0.53    1.49      2.02
558            Odessa       Ukraine         0.73   0.38    1.05      1.02
559         Vinnytsia       Ukraine         0.45   0.41    0.64      1.15

In [7]:
expatistan.describe(include="all")

,city_ascii,country,beer_market,bread,coffee,beer_pub
count,522,522,516.000000,521.000000,518.000000,514.000000
unique,497,119,NaN,NaN,NaN,NaN
top,Hamilton,United States,NaN,NaN,NaN,NaN
freq,3,89,NaN,NaN,NaN,NaN
mean,NaN,NaN,2.017810,1.259386,3.549556,4.329436
std,NaN,NaN,1.127626,0.752828,1.433199,2.164520
min,NaN,NaN,0.160000,0.120000,0.060000,0.040000
25%,NaN,NaN,1.130000,0.620000,2.240000,2.320000
50%,NaN,NaN,1.805000,1.190000,3.670000,4.365000
75%,NaN,NaN,2.620000,1.710000,4.567500,5.777500
max,NaN,NaN,10.000000,7.000000,15.000000,14.000000

In [8]:
cities = pd.read_csv('../city-data/world-cities-data.csv')
# cities.set_index('city_ascii')

In [9]:
# adding city data - guessing we won't need this df if we're merging all data sources together?
new_df = pd.merge(expatistan, cities[['city_ascii', 'country', 'region', 'latitude', 'longitude', 'population']], how='left', on=['city_ascii', 'country'])
new_df.head(25)

,city_ascii,country,beer_market,bread,coffee,beer_pub,region,latitude,longitude,population
0,Kabul,Afghanistan,2.62,0.50,2.81,5.80,Asia & Pacific,34.5328,69.1658,3678034.0
1,Tirana,Albania,1.07,0.78,1.56,3.58,Europe,41.3300,19.8200,418495.0
2,Algiers,Algeria,0.89,0.23,2.29,2.10,Arab States,36.7764,3.0586,3415811.0
3,St. John's,Canada,2.14,1.93,5.14,2.83,North America,47.4817,-52.7971,108860.0
4,Buenos Aires,Argentina,0.95,0.49,2.09,1.90,South/Latin America,-34.5997,-58.3819,16157000.0
5,San Juan,Puerto Rico,0.68,0.37,1.77,1.06,South/Latin America,18.4037,-66.0636,331165.0
6,Santa Rosa,United States,1.16,0.41,1.17,2.26,North America,38.4458,-122.7067,324634.0
7,Yerevan,Armenia,0.81,0.33,2.23,1.64,Europe,40.1814,44.5144,1075800.0
8,Adelaide,Australia,4.23,2.07,3.49,6.00,Asia & Pacific,-34.9289,138.6011,1345777.0
9,Brisbane,Australia,4.49,1.76,3.79,7.00,Asia & Pacific,-27.4678,153.0281,2514184.0
10,Canberra,Australia,3.72,1.90,3.52,7.00,Asia & Pacific,-35.2931,149.1269,426704.0
11,Darwin,Australia,3.44,2.14,3.87,6.00,Asia & Pacific,-12.4381,130.8411,136828.0
12,Gold Coast,Australia,5.75,2.11,3.77,4.62,Asia & Pacific,-28.0167,153.4000,679127.0
13,Hobart,Australia,4.27,1.81,3.54,6.00,Asia & Pacific,-42.8806,147.3250,240342.0
14,Melbourne,Australia,4.53,2.07,3.39,8.00,Asia & Pacific,-37.8136,144.9631,5078193.0
15,Newcastle,Australia,3.66,1.38,3.46,5.28,Asia & Pacific,-32.9167,151.7500,322278.0
16,Perth,Australia,4.36,1.89,3.74,8.00,Asia & Pacific,-31.9522,115.8589,2059484.0
17,Sydney,Australia,4.23,1.82,3.33,6.00,Asia & Pacific,-33.8650,151.2094,5312163.0
18,Graz,Austria,1.26,1.50,3.73,4.13,Europe,47.0667,15.4333,289440.0
19,Salzburg,Austria,1.10,2.38,3.62,4.23,Europe,47.7972,13.0477,154076.0
20,Vienna,Austria,1.24,2.07,4.32,4.27,Europe,48.2083,16.3731,1840573.0
21,Baku,Azerbaijan,1.54,0.39,3.17,2.19,Asia & Pacific,40.3667,49.8352,2181800.0
22,Nassau,Bahamas,3.00,3.19,5.54,6.00,NaN,NaN,NaN,NaN
23,Manama,Bahrain,3.48,0.86,5.47,8.00,Arab States,26.2167,50.5831,157474.0
24,Chittagong,Bangladesh,2.40,0.52,1.92,3.63,NaN,NaN,NaN,NaN

In [10]:
import numpy as np

new_df[np.isnan(new_df.latitude)]

,city_ascii,country,beer_market,bread,coffee,beer_pub,region,latitude,longitude,population
22,Nassau,Bahamas,3.00,3.19,5.54,6.00,NaN,NaN,NaN,NaN
24,Chittagong,Bangladesh,2.40,0.52,1.92,3.63,NaN,NaN,NaN,NaN
29,Leuven,Belgium,1.79,1.90,3.46,4.30,NaN,NaN,NaN,NaN
96,Brno,Czech Republic,0.80,0.62,2.51,1.70,NaN,NaN,NaN,NaN
97,Olomouc,Czech Republic,0.73,0.67,2.03,1.48,NaN,NaN,NaN,NaN
98,Ostrava,Czech Republic,0.83,0.84,1.94,1.31,NaN,NaN,NaN,NaN
99,Prague,Czech Republic,0.79,0.83,3.39,1.82,NaN,NaN,NaN,NaN
141,Hanover,Germany,1.06,1.41,3.48,4.04,NaN,NaN,NaN,NaN
151,Heraklion,Greece,1.70,1.10,4.25,4.36,NaN,NaN,NaN,NaN
152,Patras,Greece,1.38,1.10,4.13,3.91,NaN,NaN,NaN,NaN
160,Ahmedabad,India,2.00,0.51,2.27,3.18,NaN,NaN,NaN,NaN
163,Bhubaneswar,India,1.59,0.45,2.34,2.18,NaN,NaN,NaN,NaN
197,Vijayawada,India,1.90,0.59,1.29,2.68,NaN,NaN,NaN,NaN
198,Visakhapatnam,India,1.75,0.47,1.62,3.44,NaN,NaN,NaN,NaN
227,Abidjan,Ivory Coast,1.16,0.53,3.50,3.33,NaN,NaN,NaN,NaN
243,Macao,Macao,1.57,1.69,5.20,6.00,NaN,NaN,NaN,NaN
244,Skopje,North Macedonia,0.86,0.60,1.80,1.77,NaN,NaN,NaN,NaN
267,Yangon,Myanmar,1.23,1.82,3.28,1.82,NaN,NaN,NaN,NaN
271,Enschede,Netherlands,1.17,1.16,3.77,4.92,NaN,NaN,NaN,NaN
274,Nijmegen,Netherlands,1.61,1.10,3.32,3.93,NaN,NaN,NaN,NaN
355,Seoul,South Korea,2.18,3.10,4.27,4.64,NaN,NaN,NaN,NaN
363,Palma de Mallorca,Spain,1.45,1.44,3.92,5.76,NaN,NaN,NaN,NaN
364,Santa Cruz de Tenerife,Spain,1.26,0.61,1.95,3.28,NaN,NaN,NaN,NaN
384,Pattaya,Thailand,1.64,1.00,3.01,2.59,NaN,NaN,NaN,NaN
398,Zaporizhzhya,Ukraine,0.55,0.32,1.02,0.94,NaN,NaN,NaN,NaN
400,Al Ain,United Arab Emirates,2.75,1.07,5.73,7.00,NaN,NaN,NaN,NaN
408,Cardiff,United Kingdom,2.60,1.26,3.51,4.67,NaN,NaN,NaN,NaN
420,Newcastle upon Tyne,United Kingdom,1.79,1.11,4.42,6.00,NaN,NaN,NaN,NaN
432,Swansea,United Kingdom,2.38,0.89,3.85,4.37,NaN,NaN,NaN,NaN
607,St. Petersburg,Russia,2.42,2.26,5.08,4.84,NaN,NaN,NaN,NaN

In [11]:
new_df.describe(include="all")

,beer_supermarket,bread,cappuccino,beer_pub,latitude,longitude,population
count,618.000000,623.000000,620.000000,616.000000,594.000000,594.000000,5.930000e+02
mean,2.120922,1.350947,3.693274,4.456688,33.488255,-16.376148,1.982497e+06
std,1.101771,0.761707,1.411257,2.039261,21.529340,73.377487,4.260082e+06
min,0.160000,0.120000,0.060000,0.040000,-45.866700,-157.846000,6.600000e+01
25%,1.230000,0.690000,2.360000,2.710000,29.633450,-84.282600,1.603550e+05
50%,2.070000,1.340000,3.850000,4.695000,39.780350,-1.488650,5.811300e+05
75%,2.750000,1.835000,4.780000,5.762500,46.191675,27.538025,1.662691e+06
max,10.000000,7.000000,15.000000,14.000000,65.014200,178.433300,3.797700e+07

In [12]:
new_df.columns

Index(['city_ascii', 'country', 'beer_supermarket', 'bread', 'cappuccino',
       'beer_pub', 'data_source', 'region', 'latitude', 'longitude',
       'population'],
      dtype='object')